@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

*{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

main{
    display: grid;
    background-color:yellow;
    width: 100%;
    height: 450px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

main div{
    background-color: blue;

}

.part1{
    grid-column: 1/-1;
}

.part2{
    grid-row: 2/4;
    grid-column: 2/4;
}

.part3 {
    grid-row: 2/4;
}